# Basic Linear Regression

## Importing Libarires

In [31]:
import pandas as pd
import numpy as np

## Importing file

In [32]:
pd=pd.read_csv(r"C:\Users\LENOVO\Desktop\Yash Documents\data science -1\train.csv")

In [33]:
pd.head()

      x          y
0  24.0  21.549452
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984

## Descriptive statistics of data

In [6]:
pd.describe()

                 x           y
count   700.000000  699.000000
mean     54.985939   49.939869
std     134.681703   29.109217
min       0.000000   -3.839981
25%      25.000000   24.929968
50%      49.000000   48.973020
75%      75.000000   74.929911
max    3530.157369  108.871618

## checking missing values

In [8]:
pd.isnull().sum()

x    0
y    1
dtype: int64

## Droping missing values

In [34]:
data=pd.dropna()
data

        x          y
0    24.0  21.549452
1    50.0  47.464463
2    15.0  17.218656
3    38.0  36.586398
4    87.0  87.288984
..    ...        ...
695  58.0  58.595006
696  93.0  94.625094
697  82.0  88.603770
698  66.0  63.648685
699  97.0  94.975266

[699 rows x 2 columns]

In [11]:
data.isnull().sum()

x    0
y    0
dtype: int64

## Selcting x&y for regression

In [13]:
x=data.drop(['y'],axis=1)

In [14]:
y=data.drop(['x'],axis=1)

## Importing models

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error , r2_score , mean_squared_error

## Spliting train & test data variables

In [18]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=20,random_state=0)

## Fitting the model with Linear Regression

In [20]:
model = LinearRegression()
model.fit(xtrain, ytrain)

LinearRegression()

In [21]:
r2_score(ytrain,xtrain)

0.9906974449707014

In [22]:
cof=model.coef_
cof

array([[1.00090969]])

## Predicting the model

In [36]:
ypred=model.predict(xtest)
ypred

array([[28.9438506 ],
       [57.97023169],
       [83.99388371],
       [75.98660616],
       [53.96659292],
       [50.96386384],
       [98.00661941],
       [24.94021183],
       [51.96477353],
       [45.95931538],
       [14.9311149 ],
       [71.98296739],
       [70.9820577 ],
       [12.92929551],
       [24.94021183],
       [61.97387046],
       [87.99752248],
       [95.00389033],
       [65.97750923],
       [60.97296077]])

In [24]:
mean_absolute_error(ytest , ypred)

1.9029854995109516

In [25]:
rmse = np.sqrt(mean_squared_error(ytest, ypred))
print('RMSE:', rmse)

RMSE: 2.488523257253689

In [26]:
r2_score(ytest, ypred)

0.9901910873901689

- Since the r_score is similar in train & test data,the data is not overfitting. Hence it is a good fit model.